<div class="row">
  <ul>
    <li><strong>First Name:</strong> <%= @parent.first_name %></li>
    <li><strong>Last Name:</strong>  <%= @parent.last_name %></li>

    <% if @parent.second_guardian_first_name %>
      <li><strong>Second Parent's/Guardian's First Name:</strong> <%= @parent.second_guardian_first_name %></li>
    <% end %>

    <% if @parent.second_guardian_last_name %>
      <li><strong>Second Parent's/Guardian's Last Name:</strong> <%= @parent.second_guardian_last_name %></li>
    <% end %>

    <% if @parent.mailing_address %>
      <li><strong>Mailing Address:</strong> <%= @parent.mailing_address %></li>
    <% end %>

    <li><strong>Phone Number:</strong>  <%= @parent.phone_number %></li>

    <li><strong>Email: </strong>  <%= @parent.email %></li>

    <li><strong>Emergency Contact Preference:</strong> <%= @parent.emergency_contact_preference.humanize %></li>

    <li><strong>Bathroom Policy Agreement:</strong> <%= @parent.under_five_bathroom_policy_agreement? ? "Yes" : "No" %></li>

    <li><strong>Received Policies Pamphlet:</strong> <%= @parent.received_policies_pamphlet? ? "Yes" : "No" %></li>

    <% if @parent.notes_on_general_concerns %>
      <li><strong>Notes on General Concerns:</strong> <%= @parent.notes_on_general_concerns %></li>
    <% end %>
  </ul>
</div>

